---
import { url } from '../utils';
---
<html>
  <head>
    <meta http-equiv="refresh" content={`0;url=${url('/evidence/#references')}`} />
    <title>Redirecting to Evidence page</title>
  </head>
  <body>
    <p>Redirecting to <a href={url('/evidence/#references')}>Evidence &rarr; References</a></p>
  </body>
</html>
